:root {
  --primary-text-color: #757575;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-color: #212121;
  --transparent-color: rgba(255, 255, 255, 0.6);
  --footer-color: #2f303a;
  --team-background-color: #f5f4fa;
}




body {
  width: 1600px;
  font-family: Roboto, sans-serif;
  background-color: var(--title-text-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  color: var(--secondary-color);
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  margin-bottom: 20px;

  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.menu-nav .logo {
display: block;
margin-top: 24px;
margin-bottom: 25px;


}
.logo .light {
  color: var(--accent-color);
}

.logo .dark {
  color: var(--secondary-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav .item {
  align-items: center;
}

.menu {
  display: flex;
  margin-left: auto;
}
.menu .item {
}

.menu .item + .item {
  margin-left: 50px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.site-nav .link.current {
  color: var(--accent-color);
  margin-right: 50px;
}

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;

  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.team {
  background-color: var(--team-background-color);
}

.feature-list {
  display: flex;
  justify-content: space-between;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}
.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;
}

.picture-list {
  display: flex;
}

.picture-list .item {
  margin-right: 30px;
}
.picture-list .item:last-child {
  margin-right: 0;
}

.section .team {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}

.section .profession {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.images-list .item {
  margin-top: 186px;
  margin-bottom: 94px;
}

.images-list .text {
  border: 1px solid white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex {
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex-element .text {
  border: 1px solid white;
  padding: 20px 24px 20px 24px;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 136px;
  text-align: center;
  border: 1px solid transparent;
  margin-bottom: 200px;

  color: var(--title-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}

.menu .menu-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu .link-email {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.menu .link-tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.button-primary {
  margin-right: 8px;

  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;

  color: var(--title-text-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.button-secondary {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;

  color: var(--secondary-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.nav .item:not(:last-child) {
  display: block;
  margin-right: 8px;
}

.address .link {
  display: block;

  margin-top: 9px;

  color: var(--transparent-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.address .item {
  

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.footer {
  padding: 60px 1154px 60px 215px;
  background-color: var(--footer-color);
  text-decoration: none;
}
.company {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}
.footer .white {
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.footer .blue {
  
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
}

.images-list .title {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.images-list .work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
